<script>
  Gesture.timer = <%= @timer == "on"? true : false %>
  Gesture.duration = <%= @duration %>
  Gesture.poses = <%= @poses.to_json.html_safe %>
</script>

<div class="controls">
  <div class="left">
    <a data-control="prev" class="btn btn-info" href=""><span class="glyphicon glyphicon-backward"></span></a>
    <a data-control="next" class="btn btn-info" href=""><span class="glyphicon glyphicon-forward"></span></a>
    <a data-control="pause" class="btn btn-info" href=""><span class="glyphicon glyphicon-pause"></span></a>
  </div>
  <div class="right">
    <a href="/" class="btn"><span class="glyphicon glyphicon-home"></span></a>
  </div>
</div>

<div class="loader">
  <div class="inner">Loading...</div>
</div>

<% if @timer == "on" %>
<div class="progress"><div class="progress-bar"></div></div>
<% end %>

<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div class="slide"><div class="slide-image" style="background-image: url(<%= @pose1.image.url %>);" data-image-src="<%= @pose1.image.url %>"></div></div>
    <div class="slide"><div class="slide-image" style="background-image: url(<%= @pose2.image.url %>);"></div></div>
    <% @poses.each do |pose| %>
      <div class="slide"><div class="slide-image"></div></div>
    <% end %>
  </div>
</div>